.archive-college{

    .colleges{
        background-color: $light-grey;  
        margin-bottom: 2rem;
        
        h2{
            a{
                font-size: inherit;
            }

        }
    }

}

