html {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  margin:0;
  padding:0;
}

@include breakpoint-down(laptop){
  body{
    // overflow: hidden;
  }
}

