html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

@include breakpoint-down(laptop){
  body{
    overflow: hidden;
  }
}

