html {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul{
  margin: 0;
  padding-inline-start: 0;
  li{
    list-style-type: none;
  }
}

a{
  text-decoration: none;
}

body{
  margin:0;
  padding:0;
}

section{
  padding: 2rem 0 2rem 0;
}

//paddings



@include breakpoint-down(laptop){
 
}




@include breakpoint-down(laptop){
  body{
    // overflow: hidden;
  }
}

