.btn-primary-outline{
    
    background:inherit;
    border:2px solid $white;
    color:$white;
    padding:0.5rem 2rem 0.5rem 2rem;
}

// #header_ham{
//     background:blue;
//     border:none;
// }