.site-footer{
    height: 50vh;
    width: 100%;
    background:$dark-grey;

    .footer-social{
        height: 10vh;
    }

    .footer-main{
        background:$dark-grey;
        height: 40vh;

    }
    
}