.header{
    height: 5vh;
    padding-top:2rem;
    width: 100%;
    button{
        display: none;
    }

    &_top-bar{
        height: 5vh;
        background:blue;
        width: 100%;
    }
    &_logo{
        width: 100%;

        a{
            letter-spacing: $letter-spacing-rg;
            margin-left: 2rem;
        }
    }
    &_nav{
        justify-content: flex-end;
        a{
            margin-left: 2.5rem;
            letter-spacing: $letter-spacing-rg;
            margin-right: 2rem;
        }
    }
    //Mobile Response 
    @include breakpoint-down(laptop) {
        height: 100vh;
        button{
            display: flex;
            height: 3rem;
            width: 3rem;
            right: 1.6rem ;
            top: 2rem;  
            // position: absolute;
        }
        &_top-bar{

        }
        &_logo{
            text-align: center;
            a{
                font-size: 1.5em;
                margin-left: 0;
            }   
        }  
        &_nav{
            // position: absolute;
            background:$primary-1;
            opacity: 0.5;
            margin-top:2rem;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            // height: 100vh;
            a{
                color:$white;
                margin: 0;
                padding: 1rem;
                font-size: 1.5em;
            }   
        }

        .hide{
            animation: open-nav 1s;
            transform: translateX(-110%);
        }
    }  

    @include breakpoint-down(phone-small){
       &_logo{
            // text-align: left;
            // margin-left: 1rem;
            // font-size: 0.8em;
       }
    }
}

 
