//imports

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans&display=swap");

// @font-face {
//   font-family: "futura-pt-medium";
//   src: url(../../../assets/fonts/FuturaPTMedium.otf);
// }

$main-font-medium: "Open Sans", sans-serif;

//font-size
* {
  font-size: 16px;
}

@include breakpoint-down(laptop) {
  * {
    font-size: 14px;
  }
}

//colors
$title-font: $primary-1;
$paragraph-font: $dark-grey;

//vars
$letter-spacing-rg: 0.1em;
$letter-spacing-md: 0.2em;

//base styles

h1,
h2,
h3,
h4,
h5 {
  color: $primary-1;
  font-family: $main-font-medium;
  margin: 0;
}

h1 {
  font-size: 3.5em;
  line-height: 0.9;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.8em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  a {
    color: inherit;
    font-size: inherit;
  }
}

h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  color: $dark-grey;
  font-size: 1.2em;
  font-family: $main-font-medium;
}

strong {
  font-family: $main-font-medium;
  font-size: 1em;
  color: $dark-grey;
}

ul {
  li {
    font-size: 1.2em;
  }
}

li,
a,
button {
  font-family: $main-font-medium;
  color: $primary-1;
}

//pages styles

// .key-info-list, .contact-and-address, .key-info-list{
//     li{
//         font-family: $main-font-light;

//         span{
//             font-family: $main-font-medium;
//         }
//     }
// }

.article {
  .lead {
    font-family: $main-font-medium;
    font-size: 1.7em;
  }
}
