.additional-info-list {
  height: auto;
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;

  h2,
  p,
  li {
    color: $primary-1;
  }

  h2 {
    margin-bottom: 1rem;
  }
  ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;

    li {
      margin-bottom: 1rem;
      width: 50%;
      margin-bottom: 1.5rem;
      padding-right: 1rem;
      color: $darker-grey;

      strong {
        display: block;
        font-weight: bolder;
        color: $primary-1;
      }
    }
  }

  a {
    display: inline-block;
    font-size: inherit;
    color: $secondary;
  }
}
