.breadcrumb-nav{
    background-color: $primary-1;
    height: auto;
    width: 100%;
    padding: 1rem;
    ul{
        justify-content: space-around;
        align-self: center;
        height: auto;
        width: 100%;
        margin:0;
        padding:0;

        li{
            align-self: inherit;
          
            a{
                color: white;
                font-size: 1.3em;
            }
        }
    }

    // @include breakpoint-down(laptop){
    //     ul{
    //         li{
    //             a{
    //                 font-size:1em;
    //             }
    
    //         }
    //     }
    // }

    // @include breakpoint-down(laptop){
    //     ul{
    //         li{
    //             a{
    //                 font-size:0.8em;
    //             }
    
    //         }
    //     }
    // }
}

