.contact-and-address {
  height: auto;
  background-color: $light-grey;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  &_left {
    padding: 0;
  }

  &_contact {
    p {
      margin: 0;
      margin-bottom: 1rem;
    }

    a {
      color: #2e2d2d;
      margin-bottom: 1rem;
    }

    h4 {
      font-weight: bold;
    }
    & > div {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    & > div:nth-child(2),
    div:nth-child(3) {
      justify-content: flex-start;
    }

    .location {
    }

    .phone {
      p {
        color: #2e2d2d;
        font-size: 1.2em;
      }
    }
  }

  &_map {
    height: 350px;
    width: 100%;
    border: 1px solid $primary-2;
    display: flex;
    background: $primary-1;
    padding: 0;
    img {
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
    }
  }
  @include breakpoint-down(laptop) {
    &_contact {
      margin-bottom: 3rem;
      & > div {
        align-items: flex-start;
      }
    }
  }
}
