.content-items {
  // margin-top: 2rem;
  margin-bottom: 2rem;
}
.content-item {
  display: block;
  background: $light-grey;
  width: 100vw;
  // height: 600px;
  &_text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    // height: 50vh;
    padding-left: 3rem;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    h2,
    p,
    a {
      color: $primary-1;
    }

    p {
      width: 85%;
      margin-bottom: 3rem;
    }

    a {
      border: 1px solid $primary-1;
      width: fit-content;
      padding: 1rem 2rem;

      &:hover {
        background-color: $primary-1;
        border-color: white;
        color: white;
      }
    }
  }
  &_image {
    padding: 0;
    height: 500px;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include breakpoint-down(laptop) {
        height: 200px;
      }
    }
  }
  @include breakpoint-down(laptop) {
    > div {
      flex-direction: column-reverse;
    }
    &_text {
      width: 100%;
      padding-left: 1rem;
      padding: 0 2rem;
      margin-bottom: 2rem;
      margin-top: 2rem;

      a {
        margin-bottom: 2rem;
      }

      p {
        margin-bottom: 3rem;
      }
    }
    &_image {
      padding: 0;
      position: relative;
      height: 150px;
      img {
        width: 100%;
      }
    }
  }
}
.reverse {
  flex-direction: row-reverse;

  .content-item_image {
    position: relative;
    left: 0;
    padding: 0;
    @include breakpoint-down(laptop) {
      position: relative;
    }
  }
}
