.content-item{
    display: block;
    background:$primary-1;
    width: 100vw;

    &_text{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        height: 50vh;
        padding-left: 5rem;
        h2, p{
            color:white;
        }
        p{
            width: 85%;
        }
    }
    &_image{  
        padding: 0;
        right: 0;
       img{       
            height: 50vh;
            width: 100%;
            object-fit: cover;

       }
    }

    a{
        color:white;
    }

    @include breakpoint-down(laptop) {
       
        > div {
        flex-direction: column-reverse;
        }  
        &_text{
            width:100%;
            padding-left: 1rem;
        }
        &_image{
            padding:0;

            position: relative;
            img{        
                width: 100vw;
            }
        }
    }
}

.reverse{   
    flex-direction: row-reverse;

    .content-item_image{
        position: relative;
        left:0;
        padding: 0;
        @include breakpoint-down(laptop){
            position: relative;
        }
    }

    // .content-item_text{    
    //     h2, p{
    //         text-align: left;
    //         align-self: flex-start;
    //         margin-left: 3rem;
    //     }
    // }

    
    // > div{
    //     flex-direction: row-reverse;
    // }
    // @include breakpoint-down(laptop){
    //     > div{
    //         flex-direction: column-reverse;
    //     }
    // }
    // @include breakpoint-up(laptop){
    //     flex-direction: row;
       
        
    // }
}