.featured-post {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;

  height: auto;
  width: 100%;
  background-color: $primary-2;
  &_text {
    height: 100%;

    h2,
    p {
      color: $primary-1;
      text-align: center;
      padding: 1rem;
    }

    p {
      width: 75%;
      margin: 0 auto;
    }

    a {
      color: $primary-2;
    }
  }

  @include breakpoint-down(tablet-port) {
    padding: 2rem 0 0.75rem 0;
    margin: 0;

    h2,
    p {
      text-align: left;
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      width: 100%;
    }
  }
}
