.featured-post{

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding:2rem;
    
    height: auto;
    width: 100%;  
    background-color:$primary-2;

    @include breakpoint-down(tablet-port) {
        padding:0;
    }


    &_text{

        height: 100%;

        h2, p{
            color: $primary-1;
        }

        a{
            color: $primary-2;
        }
    }
}