.highlights{

    background:$primary-1;
    height: auto;
    padding-top:2rem;
    padding-bottom: 2rem;
    

    display:flex;
    align-items: center;

    @include breakpoint-down(tablet-port) {
        padding:0;
    }

    &_header{
        h2 {
            color:white;
            text-align: center;
            margin-bottom: 1rem;
        }
    }  

    &_single{

        h3, p{
            color:white;
            text-align: center;

        }

        p{
            margin-top: 0;
            @include breakpoint-down(tablet-port) {
                padding:0;
            }
        }

        .icon{
            width: 75px;
            height: 75px;
            background:pink;
            margin-bottom: 1rem;

            @include breakpoint-down(tablet-port) {
                width: 75px;
                height: 75px;
            }
        }
    }
}


// .highlights{
//     min-height: 50vh;
//     width: 100%;
//     padding:0;
//     background:$primary-1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//         h2{
//             color:$white;
//             text-align: center;
//             width: 100%;
//         }

//         .items{
          

//             .item{
                
//                 height: auto;
//                 flex-grow: 1;

//                 .icon{
//                     height: 150px;
//                     background:$color-secondary
//                 }

//                 h3, p{
//                     text-align: center;
//                     color: $white;
//                 }
//             }


//         }    
    
// }