.instagram-feed {
  background-color: $primary-2;
  padding-bottom: 2rem;

  h2 {
    text-align: center;
    margin-top: 2rem;
  }

  #sb_instagram {
    background-color: $primary-2;
  }

  .sb_instagram_header {
    display: none;
  }
}
