.intro-text{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-large{
        height: 100%;  
        align-items: center;

        .img{
            padding:2rem;

            img{
                width: 300px; 
                height: auto;
            }
        }
    }
}