.intro-text{
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
   
    .container-large{
        height: 100%;  
        align-items: center;

        .img{
      
            img{
                width: 300px; 
                height: auto;
            }
        }
    }
}