.key-info-list{
    height: auto;
    background: $primary-1;
    
    h2,p,li{
        color:white;
    }

    h2{
        margin-bottom: 1rem;
    }

    ul{
        margin-bottom: 3rem;
        li{
            margin-bottom: 1rem;
        }
    }

    a{
        display: inline-block;
    }
}