.menu{
    height: 5vh;
    width: 100%;
    justify-content: space-between;
    background: red !important;
   


       .menu-item{
           margin-left: 4rem;
           padding: 1rem;
           a{
               font-family: $main-font-light;
               &:active{
                       font-weight: bold;
               }
           }
       };
    @include respond(phone) {
    display: none !important;
    }
}

.menu-item{
    color:red;
}