.post-thumbs {
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  .container-row {
    padding: 0;
  }
  h2 {
    margin-bottom: 1rem;
  }
  &_header {
    h2 {
      text-align: center;
    }
  }
  .intro {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: center;
  }
  &_single {
    margin: 0 1rem 1rem 1rem;
    background: $light-grey;
    p {
      margin-bottom: 2rem;
    }
    @include breakpoint-down(tablet-port) {
      margin: 0;
      margin-bottom: 1rem;
    }
    .image {
      height: 100%;
      width: auto;
      img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        &:hover {
          filter: grayscale(0.25);
          cursor: pointer;
        }
      }
    }
    h3,
    p {
      color: $primary-1;
    }

    h3 {
      padding-top: 2rem;
      text-align: center;
      width: 80%;
      margin: 0 auto;
    }
    p {
      padding: 0 1rem;
      @include breakpoint-down(tablet-port) {
      }
    }
    a {
      margin-bottom: 2rem;
      text-align: center;
      width: auto;
      margin: 0 auto;
      padding-left: 1rem;
      display: block;
    }
  }
  &_wrapper {
    padding: 0 !important;
  }
}
