.text-and-image{    
    background-color:$light-grey;
    height: auto;
    overflow: hidden;
        &_img{    
            img{  
                width: 100%;
                height: 40vh;
                object-fit: cover;
                display: flex;
                justify-content: flex-start;
                padding:0 2rem 0 0;
            }
        }
        &_text{
            display:flex;
            flex-direction: column; 
            justify-content: center;
            height: 100%;
            padding:2rem;
        }

    &-reverse{
        @extend .text-and-image;
        .container-large{
            flex-direction: row-reverse;
            .text{
                h2, p{
                    padding-left: 0;
                }
            }
        }
    }

    @include breakpoint-down(tablet-port){

        &_text{
            padding:1rem;
        }

        &_img{
            img{
                padding:0 0 1rem 0;
            }
        }
    }
}