@font-face {
  font-family: 'futura-pt-medium';
  src: url(../fonts/FuturaPTmedium.otf);
}

h1, h2, h3, h4, h5, p, li, a {
  color: #03526A;
  font-family: "futura-pt-medium";
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 37.5em) {
  [class*="col-"] {
    width: 100%;
  }
}

.flex-grid {
  display: flex;
}

.flex-grid col {
  flex: 1;
}

@media only screen and (max-width: 37.5em) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

@media only screen and (max-width: 37.5em) {
  .flex-grid-thirds {
    display: block;
  }
}

.flex-grid-half {
  display: flex;
  justify-content: space-between;
}

.flex-grid-half .col {
  width: 48%;
}

.row {
  display: block;
  float: left;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  margin: auto;
  max-width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container {
    max-width: 100%;
  }
}

.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

.container-large {
  margin: auto;
  max-width: 1460px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container-large {
    max-width: 100%;
  }
}

.container-large:after, .container-large:before {
  content: "";
  display: table;
  clear: both;
}

.container-small {
  position: relative;
  margin: auto;
  max-width: 850px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container-small {
    max-width: 100%;
  }
}

.container-small:after, .container-small:before {
  content: "";
  display: table;
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.default-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.default-padding-top {
  padding-top: 6rem;
}

.default-padding-bottom {
  padding-bottom: 6rem;
}

.p-m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-l {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.default-margin {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.default-margin-top {
  margin-top: 6rem;
}

.default-margin-bottom {
  margin-bottom: 6rem;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  color: #03526A;
}

.heading-secondary {
  font-size: 4rem;
  text-align: center;
}

a.svg {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: none !important;
  text-align: center;
  color: #03526A;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  border: none !important;
  text-align: center;
  color: #03526A;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  border: none !important;
  text-align: center;
  color: #03526A;
}

div.wpcf7-response-output {
  padding: 0 !important;
  margin: 0;
  margin-top: 15px;
}

ul li {
  font-size: 1.6rem;
}

a {
  transition: all .4s ease;
}

a:hover {
  color: #FF9999 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "futura-pt-medium";
  font-weight: 500;
}

span.text,
p,
a,
ul,
li {
  font-size: 2.2rem;
  font-family: 1px solid black;
  font-weight: 400;
}

ul li {
  font-size: 1.6rem !important;
}

ul li span {
  font-size: 1.9rem;
}

ul li p {
  font-size: 1.9rem;
  margin-bottom: 0;
}

li {
  font-size: 1.6rem;
}

li span {
  font-size: 1.9rem;
}

li p {
  font-size: 1.9rem;
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 56.35em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 54%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

::selection {
  background: #FF9999;
}

a img {
  transition: all .5s;
}

a:hover img {
  filter: opacity(0.2);
}

ul li p:before {
  display: none;
}

.single .col-4 img {
  width: 100%;
}

.single h1 a {
  color: #03526A;
  font-weight: 500;
  font-size: 3.5rem;
}

ul li {
  list-style: none;
}

li, a {
  text-decoration: none;
}

.header {
  height: 42vh;
}

.header .hero {
  justify-content: center;
  height: 45vh;
}

.header .hero h1 {
  padding: 0;
  margin: 0;
}

.header .hero p {
  text-align: center;
  margin-top: 1rem;
  width: 50%;
}

nav {
  height: 5vh;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  margin-left: 4rem;
}

.bc-nav {
  background-color: #03526A;
  height: 3vh;
}

.bc-nav ul {
  justify-content: space-around;
}

.bc-nav ul li a {
  color: white;
}
