@font-face {
  font-family: 'futura-pt-light';
  src: url(../fonts/FuturaPTlight.otf);
}

@font-face {
  font-family: 'futura-pt-book';
  src: url(../fonts/FuturaPTbook.otf);
}

@font-face {
  font-family: 'futura-pt-medium';
  src: url(../fonts/FuturaPTmedium.otf);
}

h1, h2, h3, h4, h5, li, a, button {
  font-family: "futura-pt-medium";
  color: #03526A;
}

p {
  color: #5a5a5a;
  font-family: "futura-pt-book";
}

h1 {
  font-size: 72px;
  line-height: 0.9;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 37.5em) {
  [class*="col-"] {
    width: 100%;
  }
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-grid col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 37.5em) {
  .flex-grid {
    display: block;
  }
}

.flex-grid-thirds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

@media only screen and (max-width: 37.5em) {
  .flex-grid-thirds {
    display: block;
  }
}

.flex-grid-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grid-half .col {
  width: 48%;
}

.row {
  display: block;
  float: left;
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center, .flex-center-left, .flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-center-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  margin: auto;
  max-width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container {
    max-width: 100%;
  }
}

.container:after, .container:before {
  content: "";
  display: table;
  clear: both;
}

.container-large {
  margin: auto;
  max-width: 1460px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container-large {
    max-width: 100%;
  }
}

.container-large:after, .container-large:before {
  content: "";
  display: table;
  clear: both;
}

.container-small {
  position: relative;
  margin: auto;
  max-width: 850px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 56.35em) {
  .container-small {
    max-width: 100%;
  }
}

.container-small:after, .container-small:before {
  content: "";
  display: table;
  clear: both;
}

.no-padding {
  padding: 0 !important;
}

.default-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.default-padding-top {
  padding-top: 6rem;
}

.default-padding-bottom {
  padding-bottom: 6rem;
}

.p-m {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p-l {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.default-margin {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.default-margin-top {
  margin-top: 6rem;
}

.default-margin-bottom {
  margin-bottom: 6rem;
}

.mb {
  margin-bottom: 6rem;
}

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  color: #03526A;
}

.heading-secondary {
  font-size: 4rem;
  text-align: center;
}

a.svg {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: none !important;
  text-align: center;
  color: #03526A;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
  border: none !important;
  text-align: center;
  color: #03526A;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  border: none !important;
  text-align: center;
  color: #03526A;
}

div.wpcf7-response-output {
  padding: 0 !important;
  margin: 0;
  margin-top: 15px;
}

ul li {
  font-size: 1.6rem;
}

a {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

a:hover {
  color: #FF9999 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: #03526A;
  font-weight: 500;
}

span.text,
p,
a,
ul,
li {
  font-size: 2.2rem;
  font-family: #5a5a5a;
  font-weight: 400;
}

ul li {
  font-size: 1.6rem !important;
}

ul li span {
  font-size: 1.9rem;
}

ul li p {
  font-size: 1.9rem;
  margin-bottom: 0;
}

li {
  font-size: 1.6rem;
}

li span {
  font-size: 1.9rem;
}

li p {
  font-size: 1.9rem;
  margin-bottom: 0;
}

ul {
  padding-left: 20px;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 56.35em) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 54%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

::-moz-selection {
  background: #FF9999;
}

::selection {
  background: #FF9999;
}

a img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

a:hover img {
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}

ul li p:before {
  display: none;
}

.single .col-4 img {
  width: 100%;
}

.single h1 a {
  color: #03526A;
  font-weight: 500;
  font-size: 3.5rem;
}

ul li {
  list-style: none;
}

li, a {
  text-decoration: none;
}

.header {
  min-height: 42vh;
}

.header .hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45vh;
}

.header .hero h1, .header .hero p {
  text-align: center;
}

.header .hero h1 {
  padding: 0;
  margin: 0 0 1rem 0;
}

.header .hero p {
  margin-top: 1rem;
  width: 50%;
}

@media only screen and (max-width: 37.5em) {
  .header .hero p {
    width: 100%;
  }
}

nav {
  height: 5vh;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  margin-left: 4rem;
  padding: 1rem;
}

nav ul li a {
  font-family: "futura-pt-light";
}

nav ul li a:active {
  font-weight: bold;
}

@media only screen and (max-width: 37.5em) {
  nav {
    display: none !important;
  }
}

.intro-text .container {
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bc-nav {
  background-color: #03526A;
  height: 3vh;
}

.bc-nav ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bc-nav ul li a {
  color: white;
}

.text-and-image, .text-and-image-top, .text-and-image-bottom {
  min-height: auto;
  background-color: #F2F2F2;
}

.text-and-image .container, .text-and-image-top .container, .text-and-image-bottom .container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-and-image .img, .text-and-image-top .img, .text-and-image-bottom .img {
  padding: 0;
  margin: 0;
  height: 100%;
}

.text-and-image .img img, .text-and-image-top .img img, .text-and-image-bottom .img img {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 37.5em) {
  .text-and-image .img img, .text-and-image-top .img img, .text-and-image-bottom .img img {
    width: 100%;
  }
}

.text-and-image .text h2, .text-and-image-top .text h2, .text-and-image-bottom .text h2 {
  text-align: left;
}

.text-and-image .text p, .text-and-image-top .text p, .text-and-image-bottom .text p {
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .text-and-image .text, .text-and-image-top .text, .text-and-image-bottom .text {
    padding: 1rem;
  }
}

.text-and-image-bottom .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text-and-image-bottom .container .img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.full-width-cta-banner .container {
  height: auto;
  width: 100%;
  background-color: #03526A;
  padding: 3rem 0 3rem 0;
}

.full-width-cta-banner h2 {
  color: white;
  font-family: "futura-pt-book";
  text-align: center;
}

.full-width-cta-banner button {
  background-color: white;
  border: none;
  color: #03526A;
  font-size: 1em;
  padding: 1rem 8rem 1rem 8rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .full-width-cta-banner button {
    width: 100%;
  }
}

.featured-post {
  width: 100%;
}

.featured-post .container {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CBE0E0;
  padding: 0;
}

.featured-post .container .text {
  padding: 3rem;
  height: 100%;
}

.featured-post .container .text h2, .featured-post .container .text p {
  color: #03526A;
}

.featured-post .container .text a {
  color: #CBE0E0;
}

.three-col-highlights {
  width: 100%;
  padding: 0;
  background: #03526A;
}

.three-col-highlights .container {
  padding: 0;
}

.three-col-highlights .container h2 {
  color: white;
  text-align: center;
  width: 100%;
}

.three-col-highlights .container .items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.three-col-highlights .container .items .item {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.three-col-highlights .container .items .item .icon {
  height: 200px;
  background: #FF9999;
}

.three-col-highlights .container .items .item h3, .three-col-highlights .container .items .item p {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 37.5em) {
  .three-col-highlights .container .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.three-col-thumbs {
  width: 100%;
  padding: 0;
}

.three-col-thumbs .container {
  padding: 0;
}

.three-col-thumbs .container h2 {
  color: #03526A;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #CBE0E0;
}

.three-col-thumbs .container .items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

.three-col-thumbs .container .items .item {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #03526A;
  padding: 1rem 1rem 2rem 1rem;
  width: 100%;
}

.three-col-thumbs .container .items .item .image {
  height: 400px;
  background: #FF9999;
}

.three-col-thumbs .container .items .item h3, .three-col-thumbs .container .items .item p {
  text-align: left;
  color: white;
}

.three-col-thumbs .container .items .item a {
  color: #FF9999;
}

@media only screen and (max-width: 37.5em) {
  .three-col-thumbs .container .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */