.bc-nav{
    background-color: $color-primary;
    height: 3vh;

    ul{
        justify-content: space-around;

        li{
            a{
                color: white;
            }
        }
    }
}