.contact{
    

    background:$primary-1;

    .container{

        h2{
            color:$white;
            width: 100%;
            text-align: left;
        }

        .wpcf7{

      


            form{
        
                p{
                 
                    width: 50% !important;

                    label{
                        color:$white;
                        font-family: $paragraph-font;
                        
                    }
    
                    input, textarea{
                   
                        background:none;
                        border:none;
                        border-bottom: 1px solid $white;
    
                     
                    }
    
                    input{
                       
                    }
    
                    textarea{
                        height: 2vh;
                         
                    }
    
                    input[type="submit"]{
                        @extend .btn-primary;
                        @extend .btn-primary-rg;
                    }   
                }
            }
        }
    }
}