.full-width-cta-banner{

    .container{
        height: auto;
        width: 100%;
        background-color: $primary-1;
        padding: 3rem 0 3rem 0;
    } 
    h2{
        color: $white;
        font-family:$main-font-book;
        text-align: center;
    }
   
}  