.intro-text{

    .container{
        min-height: 50vh;
        justify-content: center;
        align-items: center;
        
        h2{
            padding:0 2rem 0 2rem;
        }

        p{
            padding:0 2rem 0 2rem; 
        }

        
    }
}