.post-thumbs{
    // width: 100%;    
    .container{   

        h2{
            color:$primary-1;
            text-align: center;
            width: 100%;
            border-bottom: 1px solid $primary-2;
        }

        .items{
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 2rem;
           
            .item{
                height: auto;
                flex-grow: 1;
                background:$primary-3;
                padding-bottom: 2rem;
                width: 100%;
            
                .image{   
                    background:$color-secondary;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height:auto;
                    }       
                }

                h3, p{
                    text-align: left;
                    color: $primary-1;
                    padding:2rem;
                }

                

                a{
                    color:$primary-1;
                    margin:2rem;
                    
                }
            }

            @include respond(phone) {
                flex-direction: column;
            }
        }
    }
}