.text-and-image{    

    min-height: auto;
    background-color:$primary-3;

    .container{
        height: 100%;
        align-items: center;
    }
    .img{
        padding: 0;
        margin:0;

        height: 100%;

        img{
            height: auto;
            width: 100%;

            padding:0;
            margin:0;

            @include respond(phone) {
                width: 100%;
            }
        }
    }
    .text{
       
        
        h2{
            text-align: left;
        }

        p{
            width: 80%;
        }

        @include respond(phone) {
            padding:1rem;
        }
    }

    &-top{
        @extend .text-and-image;

        }

    &-bottom{
        @extend .text-and-image;

        .container{
            flex-direction: row-reverse;

            .img{
                align-items: flex-end;
              
            }

        }
       

        }
}