.text-and-image{    

    min-height: auto;
    background-color:$primary-3;

   

    .container{
        height: 100%;
        align-items: center;

        .img{
            padding: 0;
            margin:0;
    
            height: 100%;
    
            img{
                height: auto;
                width: 100%;
    
                padding:0;
                margin:0;
                
                // @include respond(phone) {
                //     width: 100%;
                // }
            }
        }
    
        .text{
            padding:0;  
           
            
            h2{
                text-align: center;
            }
    
            p{
                padding:0 2rem 0 2rem; 
              
            }
    
            @include respond(phone) { 
                align-self: baseline
             
            }
        }
    }

    &-top{
        @extend .text-and-image;

        }

    &-bottom{
        @extend .text-and-image;

        .container{
            flex-direction: row-reverse;
            

            .img{
                // align-items: flex-end;
            }

        }
       

        }
}