//COLOURS
$color-primary: #0a1830;
$color-secondary: #aad7ca;
$color-primary-light: #373e53;
$color-tertiary: #f4f4f4;
$white: #FFF;
$grey: #a4a5a9;



//FONTS
$title-font: 'brandon-grotesque',
sans-serif;

$paragraph-font: 'brandon-grotesque',
sans-serif;

$paragraph-font-weight: 400;

$paragraph-font-weight-light: 300;