// Small tablets and large smartphones (landscape view)
$tablet-port: 576px;

// Small tablets (portrait view)
$tablet-land: 768px;

// Tablets and small desktops
$laptop: 992px;
 
// Large tablets and desktops
$desktop: 1200px;