@import 'utilities/mixins';
@import 'utilities/variables';
@import 'utilities/grid';
@import 'utilities/general';
@import 'utilities/animations';
@import 'base';

//PARTS

//SECTIONS
@import 'sections/intro-text';

.intro-text{
    height: 50vh;
    width: 100vw;
    background-color: red;

    h2{
        color:red;
    }
}

*{
    background-color: red;
}