//COLOURS
$color-primary:#03526A;
$primary-2:#CBE0E0;
$primary-3:#F2F2F2;
$color-secondary:#FF9999;
$dark-grey:#333333;

//FONTS
$title-font:80px solid black;
$paragraph-font:1px solid black;


@font-face { 
font-family: 'futura-pt-medium';
src: url(../fonts/FuturaPTmedium.otf);
}

$title-font:'futura-pt-medium';     

h1, h2, h3, h4 , h5, p, li, a{
    color: $color-primary;
    font-family: $title-font;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}



//IMPORTS
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/grid';
@import 'utilities/general';
@import 'utilities/animations';
@import 'base';

//PARTS
@import 'parts/header';
@import 'parts/nav';


//SECTIONS
@import 'sections/intro-text';
@import 'sections/bc-nav';

