//COLOURS
$primary-1:#03526A;
$primary-2:#CBE0E0;
$primary-3:#F2F2F2;
$color-secondary:#FF9999;
$dark-grey:#5a5a5a;
$white:white;

//FONTS
$title-font:$primary-1;
$paragraph-font:$dark-grey;


@font-face { 
font-family: 'futura-pt-light';
src: url(../fonts/FuturaPTlight.otf);
}

@font-face { 
font-family: 'futura-pt-book';
src: url(../fonts/FuturaPTbook.otf);
}
    
@font-face { 
font-family: 'futura-pt-medium';
src: url(../fonts/FuturaPTmedium.otf);
}

$main-font-light: 'futura-pt-light';
$main-font-book: 'futura-pt-book';
$main-font-medium: 'futura-pt-medium';

h1, h2, h3, h4 , h5, li, a, button{
    font-family: $main-font-medium;
    color: $primary-1;
}

p{
    color: $dark-grey;
    font-family: $main-font-book;
}

h1{
    font-size: 72px;
    line-height: 0.9;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 20px;
}

//IMPORTS
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/grid';
@import 'utilities/general';
@import 'utilities/animations';
@import 'base';

//PARTS
@import 'parts/header';
@import 'parts/nav';

//SECTIONS

@import 'sections/intro-text';
@import 'sections/bc-nav';
@import 'sections/text-and-image';
@import 'sections/full-width-cta-banner';
@import 'sections/featured-post';
@import 'sections/three-col-highlights';
@import 'sections/three-col-thumbs';

